.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #010021;
  padding: 20px;
  color: white;
}

.project-header {
  font-size: 2.2em;
  color: white;
  margin-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 20px;
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
  transition: box-shadow 0.3s ease-in-out;
  opacity: 0.95;
}
.project-card a {
  text-decoration: none;
}

.project-card:active {
  outline: none;
  box-shadow: none;
}
.project-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  margin-top: 0;
  color: white;
}

.project-card p {
  color: white;
}

.project-card img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 10px 10px 0 0;
}
@media screen and (max-width: 480px) {
  .project-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .project-container {
    margin-top: 102px;
  }
}
