.footer {
  background-color: #090915;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer .content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer .content p {
  font-size: 14px;
  margin: 0;
}

.footer .social-links a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.footer .social-links a:hover {
  color: #ccc;
}
@media screen and (max-width: 480px) {
  .footer .footer-container {
    flex-direction: column;
  }
}
